<% @comments.each do |comment| %>
	<blockquote class="blockquote my-2">
		<p class="mb-0 small text-muted"><%= comment.rating %></p>
		<p class="mb-0"><%= comment.body %></p>
		<footer class="blockquote-footer"><%= comment.user.first_name %><span class="ml-1"><%= time_ago_in_words(comment.created_at) %> ago</span></footer>
	</blockquote>
<% end %>