$(".comment-<%= @comment.id %>").find(".comment-text").replaceWith( "<p class='text-danger'>This comment has been flagged as inappropriate</p>");
$(".comment-<%= @comment.id %>").find(".flag").hide();