<!-- contact modal -->
<div id="contact-modal" class="modal fade"></div>

<!-- thanks modal -->
<div id="thanks-modal" class="modal fade"></div>

<!-- product modal -->
<div id="product-modal" class="modal fade"></div>