<% cache do %>
	<div id="splash-image">
		<h1 class="display-1 pt-2 text-xs-center">Welcome to Fruitree</h1>
		<h1 class="display-4 text-xs-center mt-3 pt-3">A community mapper and shop for everything foraging</h2>
	</div>
<% end %>