.navbar {
	padding: 0;

	.nav-item .nav-link {
		color: #fff;
	}

	.row {
		height: 60px;
	}

	.navbar-upper .nav-link {
		font-size: 1.2rem;
	}

	.navbar-brand {
		font-size: 1.5rem;
	}
}

.navbar .row {
	padding: 10px 16px 10px 16px;
}

.navbar-upper {
	background-color: #27ae60; 
}

.navbar-lower {
	background-color: #2ecc71;
}

/*footer*/
.navbar-bottom {
	background-color: #2ecc71;
	margin-top: 300px;
}

.copyright {
	padding-top: 0.6rem;
	font-size: 0.85rem;
}
.navbar-breadcrumbs {
	background-color: #fff;
	margin-top: 125px;
}

/* pushes content below top-fixed navbar */
.margin-fix {
	margin-top: 100px;
}

/* alerts for devise */
.alert-notice {
	@extend .alert-success;
}

.alert-alert, .alert-error, .alert-danger {
	@extend .alert-warning;
}

#flash {
	position: fixed;
	top: 165px;
	left: 50px;
	width: 90%;
}

.password-required {
	border-color: #d9534f;
}