.margin-landing-fix {
	margin-top: 113px;
	padding: 0;
}

#splash-image {
	background: image-url('fruit_splash.jpeg');
	padding-top: 200px;
	padding-bottom: 250px;

	.display-1, .display-4 {
		color: #fff;
	}

	.display-1 {
		font-weight: 400;
		font-size: 7rem;
	}
}

