<nav class="navbar navbar-bottom navbar-dark px-1">	
	<ul class="nav navbar-nav float-xs-left">
		<li class="nav-item copyright">&copy; Fruitree 2016</li>
	</ul>
	<ul class="nav navbar-nav float-xs-right">
		<li class="nav-item"><%= link_to 'Contact us', static_contact_path, remote: true, class:"nav-link" %></li>
	</ul>
</nav>